@import url("./nav/nav.css");
@import url("./projects/projects.css");
@import url("./icons/icons.css");

#clean{
    --highlight-color: #FF4F59;
}

#clean h1,
#clean h2,
#clean h3{
    font-weight: normal;
}

#clean main{
    flex-direction: column;
    display: flex;
}

#clean .content.appear{
    animation: slide .5s forwards;
}
#clean .content.dissappear{
    animation: slide .5s forwards reverse;
}


#clean #app{
    width: 70%;
    align-self: flex-end;
}

#clean img{
    width: 100%;
    margin: 20px 0;
}

#clean #app h2{
    margin: 80px 20px;
    font-size: 2rem;
}
#clean #app P{
    margin-bottom: 20px;
}

@keyframes slide{
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}