@import url('./nav/nav.css');
@import url('./projects/projects.css');

#threed{
    --background-color: #111111;
    --highlight-color: #F082AC;
    --main-font-color: white;
    background: var(--background-color);
}