#threed .projects{
    height: 60vh;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    align-items: center;
}
#threed #app h2:first-of-type{
    display: none;
}
#threed .projects .project{
    display: none;
    transition: .1s transform;
}
#threed .projects .project.active{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
    transform: translateZ(0);
    transform-style: preserve-3d;
}

#threed .projects .project.active h3{
    animation: fromDown 1s forwards;
}

#threed .projects .project.active img{
    animation: scaleDown 1s forwards;
    animation-delay:1s;
    transform: scaleY(0);
    transform-origin: top;
}

@keyframes scaleDown{
    to{
        transform: scaleY(1);
    }
}
@keyframes opacityIn{
    to{
        opacity: 1;
    }
}
@keyframes fromDown{
    from{
        margin-top: 100vh;
    }to{
        margin-top: initial;
    }
}
    

#threed .projects .project img{
    width: 70%;
    grid-row: 1;
    margin: auto;
    border: solid 1px var(--highlight-color);
    grid-column: 2;
}
#threed .projects .project .project-info{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    flex-direction: column;
}
#threed .projects .project .project-info h3{
    transform: translateZ(60px);
    font-size: 2em;
}
#threed .projects .project .project-info p{
    transform: translateZ(140px);
    padding: 20px;
    background-color: var(--main-font-color);
    color:var(--background-color);
    margin-top: 20px;
    max-width: 300px;
    width: 80%;
    animation: opacityIn 1s forwards;
    animation-delay: 2s;
    opacity: 0;
}
#threed .buttons{
    display: flex;
    justify-content: center;
}
#threed .buttons button{
    width: 100px;
    padding: 5px 0;
    margin: 0 5px;
    border: solid 2px var(--highlight-color);
    color: var(--highlight-color);
    background: transparent;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#threed .buttons button:hover{
    color: var(--background-color);
    background: var(--highlight-color);
}
