.icons{
    position: fixed;
    bottom: 90px;
    left: 10px;
}
.icons svg{
    height: 80px;
    border-radius: 50%;
    border: solid 3px black;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    opacity: 0;
    transition: .5s;
    pointer-events: none;
}

.icons svg.active{
    opacity: 1;
    cursor: pointer;
    pointer-events: visible;
}

.icons svg.active.show{
    background-color: var(--highlight-color);
}
.icons svg.active.show path{
    fill: var(--background-color);
}

.icons svg.show_0{
    transform: translate(0, -110%) scale(0.8);
    opacity: 1;
}
.icons svg.show_1{
    transform: translate(80%, -80%) scale(0.8);
    opacity: 1;
}
.icons svg.show_2{
    transform: translate(110%, 0) scale(0.8);
    opacity: 1;
}

.icons .show_0,
.icons .show_1,
.icons .show_2{
    pointer-events: visible;
    cursor: pointer;
}

.icons svg{
    border-color: var(--highlight-color);
}
.icons svg path{
    fill: var(--highlight-color);
}
.show_0:hover,
.show_1:hover,
.show_2:hover{
    background-color: var(--highlight-color);
}
.icons .show_0:hover path,
.icons .show_1:hover path,
.icons .show_2:hover path{
    fill: var(--background-color);
}