@import url('./clean/main.css');
@import url('./threed/main.css');
@import url('./icons.css');
@import url('./logo.css');

:root{
    --main-font: 'Montserrat', sans-serif;
    --page-transition: 1s;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--main-font);
    display: flex;
    justify-content: center;
    color: var(--main-font-color);
    transition: var(--page-transition);
}
a{
    text-decoration: none;
    color: inherit;
    user-select: none;
}
li{
    list-style: none;
}

main{
    max-width: 900px;
    width: 90vw;
}

nav{
    transition: var(--page-transition);
}
