@import url('./clean/global.css');

:root{
    --main-font: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--main-font);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}