@import url("./nav/nav.css");

#clean h1,
#clean h2,
#clean h3{
    font-weight: normal;
}

#clean main{
    flex-direction: column;
    display: flex;

}

#clean section{
    width: 70%;
    align-self: flex-end;
}
#clean section.projects img{
    width: 100%;
}
#clean section.projects h2{
    margin: 80px 20px;
    font-size: 2rem;
}
